/* * {
    border: 2px solid red;
}

* > * {
    border: 2px solid blue;
}

* > * > * {
    border: 2px solid green;
} */

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 1rem;
}

#title {
    text-align: center;
}

/* Book display */
#books {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50ch);
    justify-content: center;
}

/* Book */
.book {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;

    border: 2px solid black;
}

.book-info {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.book-interaction-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Add book */
form {
    display: grid;
    grid-template-columns: 16ch auto;
    gap: 0.5rem;
}

form > *:first-child {
    grid-column: 1 / -1;
}

#add-book-buttons {
    grid-column: 1 / -1;
    justify-self: center;
}