/* * {
    border: 2px solid red;
}

* > * {
    border: 2px solid blue;
}

* > * > * {
    border: 2px solid green;
} */

body {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 1rem;
}

#title {
    text-align: center;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50ch);
    justify-content: center;
}

/* Book */
.book {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;

    border: 2px solid black;
}

.book-info {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.book-interaction-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}